apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  labels:
    machineconfiguration.openshift.io/role: "{{ mc_role }}"
  name: "99-{{ mc_role }}-enable-secure-execution"
spec:
  kernelArguments:
    - prot_virt=1
