[localhost]
127.0.0.1 ansible_connection=local

[bastion]
{{ env.bastion.networking.hostname }} ansible_host={{ env.bastion.networking.ip }} ansible_user={{ env.bastion.access.user }} ansible_ssh_pass={{ env.bastion.access.pass }} ansible_become_password={{ env.bastion.access.pass }}{% if jump_host.ip | default('') | length > 0 %} ansible_ssh_common_args='-o StrictHostKeyChecking=no -o ProxyJump={{ jump_host.user }}@{{ jump_host.ip }}'{% endif %}
