apiVersion: v1
kind: Pod
metadata:
  labels:
    app: paynow-ssl
  name: paynow-ssl
  namespace: {{ namespace }}
  annotations:
    io.katacontainers.config.hypervisor.default_vcpus: "3"
    io.katacontainers.config.hypervisor.default_memory: "9216"
    io.katacontainers.config.runtime.create_container_timeout: "900"
    io.katacontainers.config.hypervisor.cc_init_data: {{ initdata_content.content | b64decode | trim }}
spec:
  runtimeClassName: kata-cc
  containers:
  - image: ghcr.io/ibm-hyper-protect/paynow-website:s390x-v1.0.3
    name: paynow
    ports:
    - containerPort: 8443
      protocol: TCP
    env:
    - name: CERT
      valueFrom:
        secretKeyRef:
          name: sealed-paynow
          key: CERT
    - name: KEY
      valueFrom:
        secretKeyRef:
          name: sealed-paynow
          key: KEY
    volumeMounts:
    - mountPath: /home
      name: spoiler
  restartPolicy: Never
  volumes:
  - name: spoiler
    secret:
      secretName: spoiler
---
apiVersion: v1
kind: Service
metadata:
  name: paynow-ssl
  namespace: {{ namespace }}
spec:
  type: NodePort
  selector:
    app: paynow-ssl
  ports:
  - name: https
    protocol: TCP
    port: 443
    targetPort: 8443
