apiVersion: v1
kind: Pod
metadata:
  labels:
    app: busybox-cc
  name: busybox-cc
  namespace: "{{ ccco_namespace }}"
  annotations:
    io.katacontainers.config.hypervisor.default_vcpus: "2"
    io.katacontainers.config.hypervisor.default_memory: "9216"
    io.katacontainers.config.runtime.create_container_timeout: "900"
    io.katacontainers.config.hypervisor.cc_init_data: "{{ initdata_content.content | b64decode | trim }}"
spec:
  runtimeClassName: kata-cc
  containers:
  - name: busybox
    image: {{ busybox_image }}
    command: ["sh", "-c", "echo 'CC busybox running' && sleep 3600"]
    volumeMounts:
    - name: spoiler
      mountPath: /home
  restartPolicy: Never
  volumes:
  - name: spoiler
    secret:
      secretName: spoiler
